$font-color: #828282;
$font-family: 'Montserrat', sans-serif;
$bold-font: 600;
$regular-font-size: 1rem;
$container-padding: 2rem;
$cart-background: #eeeeee;
$heading-color: #4E5150;
$thin-border:  0.1rem solid rgb(136, 136, 136);
$regular-border-size: 1rem;
$regular-margin: 1rem;