.button{
    text-align: right;
    button{
        background-color: #f2994a;
        border-radius: 0.7rem;
        padding: 1rem 0;
        color: #fff;
        font-weight: $bold-font;
        border: none;
        min-width: 25%;
        &:hover{
            background-color: #f2c94c;
            cursor: pointer;
            transition: ease-in-out 0.3s;
        }
    }
}

.remove {
    margin-top: 10px;
    background-color: rgb(223, 136, 37);
    color: #fff;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 200ms;
}
.remove:hover {
    background-color: rgb(158, 84, 0);
}