@include media-xsm {
  .main-container {
    width: 100%;
    .mid-container {
      flex-direction: column;
      .left-container {
        width: 100%;
        .button {
          text-align: center;
          button {
            min-width: 50%;
          }
        }
      }
      .right-container {
        width: 100%;
        .cart-item {
          width: 30vw;
          img {
            @include Image(30vw);
          }
          .price {
            .counter {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@include media-sm {
  .main-container {
    .mid-container {
      flex-direction: column;
      .left-container {
        width: 100%;
        .button {
          text-align: center;
          button {
            min-width: 50%;
          }
        }
      }
      .right-container {
        width: 100%;
        .cart-item {
          width: 30vw;
          img {
            @include Image(30vw);
          }
          .price {
            .counter {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@include media-md {
  .main-container {
    .mid-container {
      flex-direction: column;
      .left-container {
        width: 100%;
        .button {
          text-align: center;
          button {
            min-width: 50%;
          }
        }
      }
      .right-container {
        width: 100%;
        .cart-item {
          width: 50vw;
          img {
            @include Image(20vw);
          }
          .price {
            .counter {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@include media-lg {
  .main-container {
    .mid-container {
      flex-direction: row;
      .left-container {
        width: 50%;
        .button {
          text-align: center;
          button {
            min-width: 50%;
          }
        }
      }
      .right-container {
        display: flex;
        width: 35%;
        .cart-item {
          width: 30vw;
          gap: 1rem;
          img {
            @include Image(10vw);
          }
          .price {
            .counter {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@include media-xl {
  .main-container {
    .mid-container {
      .left-container {
        width: 30%;
        .button {
          text-align: center;
          button {
            min-width: 50%;
          }
        }
      }
      .right-container {
        display: flex;
        width: 30%;
        .cart-item {
          width: 100%;
          gap: 1rem;
          img {
            @include Image(10vw);
          }
          .price {
            .counter {
              width: 6vw;
            }
          }
        }
      }
    }
  }
}
