@include media-xsm {
  .main-container {
    width: 100%;
    .mid-container {
      flex-direction: column;
      .left-container {
        width: 100%;
        .button {
          text-align: center;
          button {
            min-width: 50%;
          }
        }
      }
      .right-container {
        width: 100%;
        .loader{
          width: 30vw;
        }
        .cart-item {
          width: 60vw;
          img {
            @include Image(30vw);
            height: 40vw;
          }
          .price {
            .counter {
              width: 80%;
            }
          }
          .remove {
            width: 5rem;
        }
        }
      }
    }
  }
}

@include media-sm {
  .main-container {
    .mid-container {
      flex-direction: column;
      .left-container {
        width: 100%;
        .button {
          text-align: center;
          button {
            min-width: 50%;
          }
        }
      }
      .right-container {
        width: 100%;
        .loader{
          width: 30vw;
        }
        .cart-item {
          width: 30vw;
          img {
            @include Image(20vw);
            height: 20vw;
          }
          .price {
            .counter {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@include media-md {
  .main-container {
    .mid-container {
      flex-direction: column;
      .left-container {
        width: 100%;
        .button {
          text-align: center;
          button {
            min-width: 50%;
          }
        }
      }
      .right-container {
        width: 100%;
        .cart-item {
          width: 50vw;
          img {
            @include Image(20vw);
            height: 20vw;
          }
          .price {
            .counter {
              width: 80%;
            }
          }
          .remove {
            width: 7rem;
        }
        }
      }
    }
  }
}

@include media-lg {
  .main-container {
    .mid-container {
      flex-direction: row;
      .left-container {
        width: 50%;
        .button {
          text-align: center;
          button {
            min-width: 50%;
          }
        }
      }
      .right-container {
        display: flex;
        width: 35%;
        .loader{
          width: 20vw;
        }
        .cart-item {
          width: 30vw;
          gap: 1rem;
          img {
            @include Image(9vw);
            height: 10vw;
          }
          .price {
            .counter {
              width: 80%;
            }
          }
          .remove {
            width: 7rem;
        }
        }
      }
    }
  }
}

@include media-xl {
  .main-container {
    .mid-container {
      .left-container {
        width: 30%;
        .button {
          text-align: center;
          button {
            min-width: 50%;
          }
        }
      }
      .right-container {
        display: flex;
        width: 30%;
        .loader{
          width: 20vw;
        }
        .cart-item {
          width: 100%;
          gap: 1rem;
          img {
            @include Image(9vw);
            height: 10vw;
          }
          .price {
            .counter {
              width: 6vw;
            }
          }
          .remove {
            width: 7rem;
        }
        }
      }
    }
  }
}
